.dataTables_wrapper{
    width:800px;
}
table{padding-top:10px;}
thead {
    background: #D9E8F7;
    color: #307ecc;
    font-size: 12px;
}
input {
    width: 100px;
    height: 30px;
}
/*控制表格的高度*/
table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px;
}
tbody tr {
    height: 30px;
}
/*为了让datable表格的检索框固定在导航上－下面三个*/
.breadcrumbs {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.dataTables_filter {
    top: -92px;
    right: 0px;
    position: relative;
    z-index: 2;
}
.main-content {
    position: relative;
}
.dataTables_wrapper {
    top: -40px;
}
/*.tab-pane {*/
    /*position: absolute;*/
/*}*/
.search-select {
    position: absolute;
    min-width: 950px;
}
tfoot tr {
    color: red;
    background-color: #F9E8E8;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 8px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px;
}
/*表格footer的边线样式*/
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 1px solid #D2CDCD;
}
/*年季度月选择样式*/
.year-quarter-month {
    width: 320px;
    float: left;
    z-index: 3;
    position: relative;
}
.select-month, .select-quarter {
    z-index: 3;
    width: 900px;
    position: relative;
}
.year-select {
    margin-right: 13px;
    float:left
}
.select-word {
    top: -8px;
    position: relative;
}

#search-btn {
    height: 30px;
    line-height: 0px;
    margin-left:15px;
}
