<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<ul class="nav nav-list nav-list2" style="top: 0px;">

    <!--<li class="list hidden active">-->
        <!--<a data-id="t" href="#" id="t_index">-->
            <!--<i class="menu-icon fa fa-tags"></i>-->
                <!--<span class="menu-text">-->
                    <!--综合查询-->
                <!--</span>-->
        <!--</a>-->

        <!--<b class="arrow"></b>-->
    <!--</li>-->

    <li class="list">
        <a data-id="t1" href="#" id="t1_index">
            <i class="menu-icon fa fa-tags"></i>
                <span class="menu-text">
                    指标类
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="index_class">
            <li class="" >
                <a data-id="t1_1" href="javascript:void(0)" id="t1_1_index">
                    <span class="menu-text">
                        公司业务分解表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t1_2" href="javascript:void(0)" id="t1_2_index">
                    <span class="menu-text">
                        业务量完成情况表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t1_3" href="javascript:void(0)" id="t1_3_index">
                    <span class="menu-text">
                        效益同比环比
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t1_4" href="javascript:void(0)" id="t1_4_index">
                    <span class="menu-text">
                        箱量同比环比
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t2" href="#" id="t2_index">
            <i class="menu-icon fa fa-exclamation-triangle"></i>
                <span class="menu-text">
                    预警类
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="early_warning">
            <li class="" >
                <a data-id="t2_1" href="javascript:void(0)" id="t2_1_index">
                    <span class="menu-text">
                        箱盘存预警15天
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t3" href="#" id="t3_index">
            <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-text">
                    分析类
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="analysis">
            <li class="" >
                <a data-id="t3_1" href="javascript:void(0)" id="t3_1_index">
                    <span class="menu-text">
                        单船航次收益
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_2" href="javascript:void(0)" id="t3_2_index">
                    <span class="menu-text">
                        航线收益
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_3" href="javascript:void(0)" id="t3_3_index">
                    <span class="menu-text">
                        船舶效益
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_4" href="javascript:void(0)" id="t3_4_index">
                    <span class="menu-text">
                        船舶航线分析表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_5" href="javascript:void(0)" id="t3_5_index">
                    <span class="menu-text">
                        周分析表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_6" href="javascript:void(0)" id="t3_6_index">
                    <span class="menu-text">
                        拖车收付情况汇总
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3_7" href="javascript:void(0)" id="t3_7_index">
                    <span class="menu-text">
                        拖车收付情况明细
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t4" href="#" id="t4_index">
            <i class="menu-icon fa fa-eye"></i>
                <span class="menu-text">
                    监督类
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="supervision">
            <li class="" >
                <a data-id="t4_1" href="javascript:void(0)" id="t4_1_index">
                    <span class="menu-text">
                        申请改单情况
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t4_2" href="javascript:void(0)" id="t4_2_index">
                    <span class="menu-text">
                        系统改单情况
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t5" href="#" id="t5_index">
            <i class="menu-icon fa fa-user-md"></i>
                <span class="menu-text">
                    客户类
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="customer">
            <li class="" >
                <a data-id="t5_1" href="javascript:void(0)" id="t5_1_index">
                    <span class="menu-text">
                        TOP10排行
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t6" href="#" id="t6_index">
            <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    竞争对手
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="competitor">
            <li class="" >
                <a data-id="t6_1" href="javascript:void(0)" id="t6_1_index">
                    <span class="menu-text">
                        竞争对手情况
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="list">
        <a data-id="t7" href="#" id="t7_index">
            <i class="menu-icon fa fa-bar-chart-o"></i>
                <span class="menu-text">
                    价格体系
                </span>
                <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="price_system">
            <li class="" >
                <a data-id="t7_1" href="javascript:void(0)" id="t7_1_index">
                    <span class="menu-text">
                        海运费报价
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

</ul><!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

</script>

<script type="text/javascript" src="../../../static/javascripts/operation_center/shipping_department/left_shipping_menu.js"></script>
