<!-- #section:basics/sidebar.horizontal -->
<div id="sidebar1" class="sidebar h-sidebar navbar-collapse collapse">


    <div class="sidebar-shortcuts" id="sidebar-shortcuts">

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" id="_menu">

        <li class="mn_ship hover active" name="运营中心">
            <a href="javascript:void(0);" id="operation_menu">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 运营中心 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_ship hover" name="航运事业部">
            <a href="javascript:void(0);" id="shipping_menu">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 航运事业部 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_dispatch hover" name="物流事业部">
            <a href="javascript:void(0);" id="logistics_menu">
                <i class="menu-icon fa fa-hdd-o"></i>
                <span class="menu-text"> 物流事业部 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_supervision_record hover " name="散杂货事业部">
            <a href="javascript:void(0);" id="bulk_cargo_menu">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> 散杂货事业部 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <!--<li class="mn_ntc hover " name="大件设备">-->
            <!--<a href="#" id="large_equipment_menu">-->
                <!--<i class="menu-icon fa fa-pencil-square-o"></i>-->
                <!--<span class="menu-text"> 大件设备 </span>-->
            <!--</a>-->
            <!--<b class="arrow"></b>-->
        <!--</li>-->
        <li class="mn_ntc hover " name="箱管部">
            <a href="javascript:void(0);" id="header_pipe_group_menu">
                <i class="menu-icon fa fa-th-large"></i>
                <span class="menu-text"> 箱管部 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_ntc hover " name="船管部">
            <a href="javascript:void(0);" id="ship_pipe_group_menu">
                <i class="menu-icon fa fa-flag"></i>
                <span class="menu-text"> 船管部 </span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->



</div>
<script type="text/javascript" src="<%= dynamic('/javascripts/topMenu/topMenuOperation.js')%>"></script>