<!-- #section:basics/sidebar.horizontal -->
<div id="sidebar1" class="sidebar h-sidebar navbar-collapse collapse">


    <div class="sidebar-shortcuts" id="sidebar-shortcuts">

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" id="_menu">
        <li class="mn_ship hover active" name="指标填报">
            <a href="javascript:void(0);" id="index_menu">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 指标填报 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_dispatch hover" name="公司报表">
            <a href="javascript:void(0);" id="company_menu">
                <i class="menu-icon fa fa-hdd-o"></i>
                <span class="menu-text"> 公司报表 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_supervision_record hover " name="区域报表">
            <a href="javascript:void(0);" id="area_menu">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> 区域报表 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="mn_ntc hover " name="办事处报表">
            <a href="javascript:void(0);" id="quota">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> 办事处报表 </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->



</div>
<script type="text/javascript" src="<%= dynamic('/javascripts/topMenu/topMenu.js')%>"></script>