<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>经营报表</title>

    <meta name="description" content="top menu &amp; navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <% include _required.html %>

    <link rel="stylesheet" href="<%= dynamic('/stylesheets/gh-buttons.css') %>"/>
    <link rel="stylesheet" href="<%= dynamic('/stylesheets/iFrame.css') %>"/>
    <style>


    </style>
</head>

<body class="no-skin" style="overflow-x: hidden">

<% include _header.html %>

<% include _menu_operation.html %>

<!--<div style="margin: 2px 0px;background: red;height:20px;cursor:pointer" id="topmenuCollapse">点击这里可以折叠，找人做个图片居中显示，然后调整一下背景颜色和高度，5px就够了。这里是default.html 27行</div>-->

<!--<div class="sidebar-toggle sidebar-collapse center" style="cursor:pointer" id="topmenuCollapse">-->
<!--<i class="ace-icon fa fa-angle-double-down ace-icon fa fa-angle-double-up" data-icon1="ace-icon fa fa-angle-double-down" data-icon2="ace-icon fa fa-angle-double-up"></i>-->
<!--</div>-->

<div class="sidebar-toggle center" style="cursor:pointer;height:13px;" id="topmenuCollapse">
    <i class="ace-icon fa fa-angle-double-up ace-icon fa fa-angle-double-up" id="up_down_btn"></i>
</div>



<div class="row">
    <div class="col-sm-12">

        <div class="tabbable">
            <div class="tabbable tabs-left">

                <div class="sidebar" id="sidebar">

                </div>

                <div class="tab-content" id="page-content">

                </div>

            </div>

        </div>

    </div>
</div>

<% include _footer.html %>

<script src="../static/assets/js/ace.min.js"></script>
<script type="text/javascript" src="<%= dynamic('/javascripts/operation_default.js')%>"></script>

</body>
</html>