<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<ul class="nav nav-list nav-list2" style="top: 0px;">


    <li class="list active">
        <a data-id="t1" href="#">
            <i class="menu-icon fa fa-tags"></i>
                <span class="menu-text">
                    业务类
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="index_class">
            <li class="" >
                <a data-id="t1" href="javascript:void(0)" id="t1_index">
                    <span class="menu-text">
                        货量计划分析对比
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t2" href="javascript:void(0)" id="t2_index">
                    <span class="menu-text">
                        年航线货量对比表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t3" href="javascript:void(0)" id="t3_index">
                    <span class="menu-text">
                        年效益货量对比表
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t4" href="javascript:void(0)" id="t4_index">
                    <span class="menu-text">
                        滞期与航次对比情况
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="list">
        <a data-id="t1" href="#">
            <i class="menu-icon fa fa-tags"></i>
                <span class="menu-text">
                    财务类
                </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu" id="">
            <li class="" >
                <a data-id="t5" href="javascript:void(0)" id="t5_index">
                    <span class="menu-text">
                        大客户单吨效益分析
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="" >
                <a data-id="t6" href="javascript:void(0)" id="t6_index">
                    <span class="menu-text">
                        单吨效益分析
                    </span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

</ul><!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

</script>

<script type="text/javascript" src="../../../static/javascripts/operation_center/bulk_cargo_department/left_bulk_cargo_menu.js"></script>
