    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <ul class="nav nav-list" style="top: 0px;" id="left_area_report">

        <li class="open">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-filter"></i>
                <span class="menu-text"> 选择区域 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="nav nav-list nav-list2" id="area_office">

                <li class="" >
                    <a data-id="t2" href="javascript:void(0)" id="">
                    <span class="menu-text">

                    </span>
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

    </script>
    <script type="text/javascript" src="../../static/javascripts/quota/left_area_report.js"></script>

    <script type="text/template" id="areaList_tmp">
        <li >
            <a href="javascript:void(0)" class="areaReport" data-name="{{INDEXAREANAME}}"  data-code="{{INDEXAREA}}">
                <i class="menu-icon fa fa-caret-right"></i>
                {{INDEXAREANAME}}
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" style="border-top: 0px solid;">

            </ul>
        </li>
    </script>

    <script type="text/template" id="areaListChild_tmp">

        <li >
            <a href="javascript:void(0)" class="areaReportChild" data-name="{{DEPTNAME}}"  data-persons="{{DEPTPERSONS}}" data-code="{{DEPTCODE}}">
                <i class="menu-icon fa fa-caret-right"></i>
                {{DEPTNAME}}
            </a>
        </li>

    </script>

    <input type="hidden" id="hid_areaCode" value="" />
    <input type="hidden" id="hid_areaName" value="" />
    <input type="hidden" id="hid_areaPersonCount" value="" />
    <input type="hidden" id="hid_month_quarter" value="" />
    <input type="hidden" id="hid_month" value="" />
    <input type="hidden" id="hid_quarter" value="" />
    <input type="hidden" id="hid_year" value="" />
    <input type="hidden" id="hid_date_year" value="" />
    <input type="hidden" id="hid_date_year_n" value="" />
    <input type="hidden" id="hid_date_year_2n" value="" />
    <input type="hidden" id="hid_currentReport" value="month" />
    <input type="hidden" id="hid_departmentCode" value="" />
    <input type="hidden" id="hid_departmentName" value="" />
    <input type="hidden" id="hid_departmentPersonCount" value="" />