    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <ul class="nav nav-list nav-list2" style="top: 0px;">

        <li class="active">
            <a data-id="t1" href="javascript:void(0);" id="t1_index">
                <i class="menu-icon fa fa-gavel"></i>
                <span class="menu-text">
                    指标定义
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t2" href="javascript:void(0);" id="t2_index">
                <i class="menu-icon fa fa-thumb-tack"></i>
                <span class="menu-text">
                    考核单位定义
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t3" href="javascript:void(0);" id="t3_index">
                <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-text">
                    调权数
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t4" href="javascript:void(0);" id="t4_index">
                <i class="menu-icon fa fa-bullhorn"></i>
                <span class="menu-text">
                    下达任务
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t5" href="javascript:void(0);" id="t5_index">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text">
                    填报计划量
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t6" href="javascript:void(0);" id="t6_index">
                <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-text">
                    填报完成量
                </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a data-id="t7" href="javascript:void(0);" id="t7_index">
                <i class="menu-icon fa fa-retweet"></i>
                <span class="menu-text">
                    指标结转
                </span>
            </a>

            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}

    </script>

    <script type="text/javascript" src="../../static/javascripts/quota/left_index_fill.js"></script>



    <input type="hidden" id="hid_type" value="quota" />
    <input type="hidden" id="hid_month_quarter" value="" />
    <input type="hidden" id="hid_month" value="" />
    <input type="hidden" id="hid_quarter" value="" />
    <input type="hidden" id="hid_year" value="" />
    <input type="hidden" id="hid_company_name" value="" />
    <input type="hidden" id="hid_currentReport" value="month" />
    <input type="hidden" id="hid_date_year" value="" />
    <input type="hidden" id="hid_date_year_n" value="" />
    <input type="hidden" id="hid_date_year_2n" value="" />
