<div class="row">

    <div class="col-xs-12" id="report_frame">

        <!--<iframe id="reportFrame" class="col-xs-12" style="min-height: 600px;"  src="http://115.28.50.129:8075/WebReport/ReportServer?reportlet=rpt%2F%5B5468%5D%5B62a5%5D%5B5206%5D%5B6790%5D.cpt&%5B5e74%5D=&%5B5468%5D="></iframe>-->

    </div>
</div>
<input type="hidden" id="hid_year" value="" />
<input type="hidden" id="hid_month" value="" />

<script type="text/template" id="tmplList_reportFrame">
    <iframe id="reportFrame" class="col-xs-12" style="min-height: 600px;"  src="http://115.28.50.129:8075/WebReport/ReportServer?reportlet=rpt%2F%5B5b8c%5D%5B6210%5D%5B91cf%5D%5B540c%5D%5B6bd4%5D%5B73af%5D%5B6bd4%5D%5B5206%5D%5B6790%5D.cpt"></iframe>
</script>

<script type="text/javascript" src="../../static/javascripts/quota/test4.js"></script>