<div class="col-xs-12 col-md-3" style="padding:0px">

    <label class="col-xs-3 col-md-3 control-label no-padding-right green" style="padding-top: 2px;">年度:&nbsp;</label>

    <ul class="button-group col-xs-10 col-md-10">
        <li><a id="year_2y" href="javascript:void(0)" class="button  pill yearGroup" value="">2013</a></li>
        <li><a id="year_y" href="javascript:void(0)" class="button pill active yearGroup" value="">2014</a></li>
        <li><a id="year" href="javascript:void(0)" class="button  pill yearGroup" value="">2015</a></li>
    </ul>

</div>

<div class="col-xs-12 col-md-9" style="padding: 0px;">

    <label class="col-xs-2 col-md-2 control-label no-padding-right green" style="padding-top: 2px;">月份:</label>

    <!--<ul class="button-group col-xs-1 col-md-8">-->
    <!--<a id="commit_btn" href="javascript:void(0)" class="button pill commit" style="float: right" role-type="quarter">提交</a>-->
    <!--</ul>-->

    <ul class="button-group col-xs-12 col-md-12" id="month" style="display: inline;">
        <li><a id="month_01" href="javascript:void(0)" class="button pill monthGroup" role-type="1">01</a></li>
        <li><a id="month_02" href="javascript:void(0)" class="button pill monthGroup" role-type="2">02</a></li>
        <li><a id="month_03" href="javascript:void(0)" class="button pill monthGroup" role-type="3">03</a></li>
        <li><a id="month_04" href="javascript:void(0)" class="button pill monthGroup" role-type="4">04</a></li>
        <li><a id="month_05" href="javascript:void(0)" class="button pill monthGroup" role-type="5">05</a></li>
        <li><a id="month_06" href="javascript:void(0)" class="button pill monthGroup" role-type="6">06</a></li>
        <li><a id="month_07" href="javascript:void(0)" class="button pill monthGroup" role-type="7">07</a></li>
        <li><a id="month_08" href="javascript:void(0)" class="button pill monthGroup" role-type="8">08</a></li>
        <li><a id="month_09" href="javascript:void(0)" class="button pill active monthGroup" role-type="9">09</a></li>
        <li><a id="month_10" href="javascript:void(0)" class="button pill monthGroup" role-type="10">10</a></li>
        <li><a id="month_11" href="javascript:void(0)" class="button pill monthGroup" role-type="11">11</a></li>
        <li><a id="month_12" href="javascript:void(0)" class="button pill monthGroup" role-type="12">12</a></li>
        <button id="commit_btn" class="btn btn-success" style="height: 30px;padding-top: 0px;margin-left: 30px;">确认</button>
    </ul>

</div>

<div class="space" style="padding-top: 40px;"></div>

<div class="row">

    <div class="col-xs-12" id="report_frame">

        <!--<iframe id="reportFrame" class="col-xs-12" style="min-height: 600px;"  src="http://115.28.50.129:8075/WebReport/ReportServer?reportlet=rpt%2F%5B5468%5D%5B62a5%5D%5B5206%5D%5B6790%5D.cpt&%5B5e74%5D=&%5B5468%5D="></iframe>-->

    </div>
</div>
<input type="hidden" id="hid_year" value="" />
<input type="hidden" id="hid_month" value="" />

<script type="text/template" id="tmplList_reportFrame">
    <iframe id="reportFrame" class="col-xs-12" style="min-height: 600px;"  src="http://115.28.50.129:8075/WebReport/ReportServer?reportlet=/rpt/[5168][516c][53f8][7ee9][70b9][60c5][51b5][5206][6790].cpt&__parameters__={'_':'1420773770077','__pi__':'true','month1':'{{month}}','year':'{{year}}'}"></iframe>
</script>

<script type="text/javascript" src="../../static/javascripts/quota/test.js"></script>