<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>绩效考核操作</title>

    <meta name="description" content="top menu &amp; navigation" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/static/assets/css/chosen.css">
    <% include ../_required.html %>
    <link rel="stylesheet" href="<%= dynamic('/assets/dataTable/media/css/jquery.dataTables.css') %>" />
    <link rel="stylesheet" href="<%= dynamic('/assets/dataTable/FixedColumns/css/dataTables.fixedColumns.css') %>" />
    <!--所有页面都会用到的样式-->
    <link rel="stylesheet" href="<%= dynamic('/stylesheets/performance/frameworkStyle.css') %>"/>

    <link rel="stylesheet" href="<%= dynamic('/stylesheets/performance/checkoperation.css') %>"/>

</head>
<body class="no-skin" style="overflow-x: hidden"  data-value="checkoperation">

<% include _performance_header.html %>

<div class="row">
    <div class="col-sm-12">

        <div class="tabbable">
            <div class="tabbable tabs-left">

                <div class="sidebar" id="sidebar">
                    <% include _left_report.html %>
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>

                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="/site/flowChart?name=绩效考核">Home</a>
                            </li>

                            <li>
                                公司会审
                            </li>
                            <li class="active">
                                公司薪酬信息查询
                            </li>
                        </ul><!-- /.breadcrumb -->

                        <span style="float: right;font-size: 16px;padding-right:150px;">
                            <strong style="color:green;">距离结束还有</strong>
                            <strong style="color:red;">
                                <!--倒计时模块-->
                                <div class="time-item" style="display: inline;">
                                    <span id="day_show">0天</span>
                                    <strong id="hour_show">0时</strong>
                                    <strong id="minute_show">0分</strong>
                                    <strong id="second_show">0秒</strong>
                                </div>
                            </strong>
                        </span>

                    </div>

                    <div class="tab-content" id="page-content">
                        <div class="search-div">
                            <div class="input-dept search-term search-dept">
                                <span class="span-name">部门:</span>
                                <select id="select-dept" class="form-control form-select" style="height:28px;">
                                    <option> -- 请选择 -- </option>
                                </select>
                            </div>
                            <div class="input-office search-term search-office">
                                <span class="span-name">办事处:</span>
                                <select id="select-office" class="form-control form-select" style="height:28px;">
                                    <option> -- 请选择 -- </option>
                                </select>
                            </div>
                            <div class="input-name search-term search-name">
                                <span class="span-name">姓名:</span>
                                <select id="select-name" class="form-control form-select" style="height:28px;">
                                    <option> -- 请选择 -- </option>
                                </select>
                            </div>
                            <button id="search-btn" class="btn btn-primary search-btn">查询</button>
                        </div>

                        <table id="example" class="display nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th colspan="4" class="headcolor4">基本信息</th>
                                <th colspan="3" class="headcolor4">基本薪资</th>
                                <th colspan="4" class="headcolor4">备注</th>
                                <th colspan="1" class="headcolor4"></th>
                                <th colspan="3" class="headcolor4"></th>
                                <th colspan="3" class="headcolor4"></th>
                                <th colspan="2" class="headcolor4"></th>
                                <th colspan="1" class="headcolor4"></th>
                                <th rowspan="3" class="headcolor4">办事处</th>
                                <th rowspan="3" class="headcolor4">部门</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="headcolor1">管理信息</th>
                                <th rowspan="2" rowspan="2" class="headcolor1">姓名</th>
                                <th rowspan="2" rowspan="2" class="headcolor1">职级</th>
                                <th rowspan="2" class="headcolor3">基本工资</th>
                                <th rowspan="2" class="headcolor3">岗位工资</th>
                                <th rowspan="2" class="headcolor3">基本薪资总计</th>

                                <th colspan="2" class="headcolor3">入职转正日期</th>
                                <th rowspan="2" class="headcolor3">备注</th>
                                <th rowspan="2" class="headcolor3">离职时间</th>

                                <th colspan="1" class="headcolor2">二季度</th>

                                <th rowspan="2" class="headcolor4">三季度奖金总额</th>
                                <th rowspan="2" class="headcolor4">打分</th>
                                <th rowspan="2" class="headcolor4">调整后打分</th>
                                <th colspan="2" class="headcolor4">三季度</th>

                                <th rowspan="2" class="headcolor4">月收入</th>
                                <th rowspan="2" class="headcolor4">奖金环比</th>
                                <th rowspan="2" class="headcolor4">月收入环比</th>
                                <th rowspan="2" class="headcolor2">备注</th>
                            </tr>
                            <tr>
                                <th class="headcolor1">编号</th>
                                <th class="headcolor1">组/办</th>
                                <th class="headcolor3">入职日期</th>
                                <th class="headcolor3">转正日期</th>
                                <th class="headcolor2">月奖金</th>
                                <th class="headcolor4">月奖金</th>
                                <th class="headcolor4">季度合计</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                            </tr>
                            </tbody>
                        </table>

                        <button class="export-excel-company">导出excel</button>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<div class="time-control" hidden="hidden" data-val="gshs"></div>

<% include ../_footer.html %>

<script src="/static/assets/js/ace.min.js"></script>
<script type="text/javascript" src="<%= dynamic('/assets/dataTable/media/js/jquery.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/assets/dataTable/media/js/jquery.dataTables.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/assets/dataTable/FixedColumns/js/dataTables.fixedColumns.js') %>"></script>
<script type="text/javascript" src="/static/assets/js/chosen.jquery.min.js"></script>

<script type="text/javascript" src="/static/javascripts/performance/jquery.time_show_self.js"></script>
<script src="/static/javascripts/performance/timeControl.js"></script>
<script type="text/javascript" src="/static/javascripts/performance/operateExcel.js"></script>
<script type="text/javascript" src="/static/javascripts/performance/checkoperation.js"></script>

</body>
</html>