<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body>
    <div>
        <input type="text" id="chatData" placeholder="Message" />
    </div>

    <script type="text/javascript" src="/static/audio/jquery.min.js"></script>
    <script>
        $(function() {
            $('<audio id="chatAudio">' +
//                    '<source src="/static/audio/haveNoReadInfo.mp3" type="audio/mpeg">' +
//                    '<source src="/views/lyj/haveNewInfo.mp3" type="audio/mpeg">' +
                    '<source src="/static/audio/superiorExamine.mp3" type="audio/mpeg">' +
                    '<source src="/static/audio/notify.ogg" type="audio/ogg">' +
                    '<source src="/static/audio/notify.mp3" type="audio/mpeg">' +
                    '<source src="/static/audio/notify.wav" type="audio/wav">' +
                    '</audio>').appendTo('body');//载入声音文件

            if($("#chatData").val() === "") {
                $('#chatAudio')[0].play(); //播放声音
            }

        });

    </script>
</body>

</html>